{% extends "base.html" %}

{% block title %}服务类型管理 - 头疗SPA管理系统{% endblock %}

{% block breadcrumb %}
<a href="{{ url_for('business.service_types') }}"><cite>服务类型管理</cite></a>
{% endblock %}

{% block content %}
<div class="layui-card">
    <div class="layui-card-header">
        <i class="fa fa-list"></i> 服务类型列表
        <a href="{{ url_for('business.add_service_type') }}" class="layui-btn layui-btn-sm layui-btn-normal" style="float: right;">
            <i class="fa fa-plus"></i> 添加服务类型
        </a>
    </div>
    <div class="layui-card-body">
        <table class="layui-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>类型名称</th>
                    <th>描述</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for service_type in service_types %}
                <tr>
                    <td>{{ service_type.id }}</td>
                    <td>{{ service_type.name }}</td>
                    <td>{{ service_type.description or '无' }}</td>
                    <td>
                        {% if service_type.is_active %}
                        <span class="layui-badge layui-bg-green">启用</span>
                        {% else %}
                        <span class="layui-badge layui-bg-gray">禁用</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ url_for('business.edit_service_type', type_id=service_type.id) }}" class="layui-btn layui-btn-xs">
                            <i class="fa fa-edit"></i> 编辑
                        </a>
                        <a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-danger delete-btn" data-id="{{ service_type.id }}">
                            <i class="fa fa-trash"></i> 删除
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    layui.use(['layer'], function() {
        var layer = layui.layer;
        
        // 删除服务类型
        $('.delete-btn').on('click', function() {
            var id = $(this).data('id');
            layer.confirm('确定要删除这个服务类型吗？', {icon: 3, title:'提示'}, function(index){
                $.ajax({
                    url: "{{ url_for('business.delete_service_type') }}",
                    type: 'POST',
                    data: {id: id},
                    success: function(res) {
                        if (res.code == 0) {
                            layer.msg('删除成功', {icon: 1});
                            setTimeout(function() {
                                location.reload();
                            }, 1000);
                        } else {
                            layer.msg(res.msg || '删除失败', {icon: 2});
                        }
                    }
                });
                layer.close(index);
            });
        });
    });
</script>
{% endblock %}